<div class='micropost_form_container'>
  <span class='profile-icon-frame'>
    <%= current_user.image.attached? ? (link_to image_tag(current_user.image), current_user) : (link_to gravatar_for(current_user), current_user) %>
  </span>

  <section class="micropost_form">
    <%= render 'microposts/micropost_form' %>
  </section>
</div>
<%= render 'microposts/feed' %>
