<div class='row welcome_container'>
  <div class="center jumbotron col-md-12">
    <div class="center col-md-5 col-md-offset-1">
      <h1>
        <div class=logo_containter>
          <%= image_tag("logo_portcurio.png", alt: site_name, width: "100%") %>
        </div>
      </h1>
      <div class=top_description>
        <h2>
          このSNSは世界中の教材を集約し、協力してブラッシュアップしていくことを目的としています。ご自身の教材のポートフォリオとしても活用してください。<br>
          詳しくは<%= link_to "コチラ", "https://alfnet.info/web-dev05/", target: :_blank, rel: "noopener noreferrer" %>。
        </h2>
      </div>
    </div>
    <div class="center col-md-5">
      <%= render partial: 'sessions/login' %>
    </div>
  </div>
</div>

<% if flash.any? %>
  <%= javascript_pack_tag 'render_root' %>
<% end %>