<% if @comment.present? %>
  <%= render 'shared/error_messages', object: @comment %>
<% end %>

<%= form_with model: [@feedmicropost, Comment.new], method: :post, local: false do |f| %>
  <div class="response_text_wrap">
    <div class="input-group">
      <%= f.text_area :content, placeholder: "#{@feedmicropost.user.name}さん の投稿にコメントする" %>
      <span class="input-group-btn">
        <%= button_tag type: "submit", class: 'btn btn-send' do %>
          <i class="fa-regular fa-paper-plane"></i>
        <% end %>
      </span>
    </div>
  </div>
<% end %>