<%= button_to close_micropost_comment_path(@feedmicropost.id, @comment.id), { method: :get, class: "reply-close-btn btn-link", style: "text-align: center; background-color: #95a5a6; margin: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px; width: 100%; height: 20px;", remote: true } do %>
  <i class="fa-solid fa-caret-up fa-lg" data-fa-transform="up-1" style="color: white;"></i>
<% end %>

<div class="replies-container">
  <div class="replies">
    <%= render @replies %>
  </div>
  
  <% if @errors_comment %>
    <%= render 'shared/error_messages', object: @errors_comment %>
  <% end %>
  
  <div class="mention">
    <!-- メンション相手が表示される -->
  </div>
  <%= render partial: 'comments/reply_form' %>
</div>
