<% count = likeable.likes.count %>
<% likepath = send("#{likeable.class.name.downcase}_likes_path", likeable.id) %>
<% if count === 0 %>
  <%= count %>
<% else %>
  <%= link_to count, likepath, remote: true %>
<% end %>

<span class="like-modal-<%= likeable.class.name.downcase %>-<%= likeable.id %>"></span>