<!-- form_with url: like_url(micropost.id), method: :delete, local: false ,class: "form-inline" do |f| -->
<%= form_with model: [likeable, likeable.likes.find_by(user: current_user)], method: :delete, local: false ,class: "form-inline" do |f| %>
  <%= button_tag type: "submit", class: "btn-link" do %>
    <span class="fas fa-thumbs-up like-btn"></span>
  <% end %>
<% end %>