<li>
  <span class='profile_icon_frame'>
    <%= user.image.attached? ? (link_to image_tag(user.image), user) : (link_to gravatar_for(user), user) %>
  </span>
  <div class='inline-block'>
    <span class='user'><%= link_to user.name, user %></span>
    <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "You sure?" } %>
    <% end %>
    
    <%= (render partial: 'relationships/follow_form', locals: {user: user}) if logged_in? %>
  </div>
</li>
