<% provide(:title, 'All users') %>

<h1>All users</h1>

<div class='center'><%= paginate @users %></div>
<div class='users_container'>
  <ul class="users">
    <%= render @users %>
  </ul>
</div>
<div class='center'><%= paginate @users %></div>
