<% provide(:title, "My Portcurio") %>

<h1>My Portcurio</h1>

<div class="tagging-form">
  <%= render partial: 'microposts/tag_search_form', locals: { selected_school_type: @selected_school_type, selected_subject: @selected_subject, selected_tags: @selected_tags, tags: @tags } %>
</div>

<ol class="microposts">
  <%= render @portcurio %>
</ol>

<div class='center'><%= paginate @portcurio %></div>