<% provide(:title, "My Portcurio") %>

<h1>My Portcurio</h1>

<div class="tag-search-container">
  <%= render partial: 'microposts/tag_search_form', locals: { micropost: @micropost, selected_tags: @selected_tags, tags: @tags } %>
</div>

<ol class="microposts">
  <%= render @portcurio %>
</ol>

<div class='center'><%= paginate @portcurio %></div>