<div class="edit-modal-wrapper" >
  <div class="edit-modal">
    <div class="edit-modal-form">
      <span class="close-modal">
        <i class="fa fa-2x fa-times"></i>
      </span>
      <section class="micropost_form">
        <%= render 'microposts/micropost_form' %>
      </section>
    </div>
  </div>
</div>