<div class="pc">
  <ol class="materials">
    <%= render partial: 'microposts/materials', collection: @feed_items, as: 'micropost' %>
  </ol>
  <div class='center'>
    <%= paginate @feed_items,
              params: { controller: 'static_pages', action: 'home' } %>
  </div>
</div>

<div class="phone">
  <ol class="microposts">
    <%= render @all_feed_items %>
  </ol>
  <div class='center'>
    <%= paginate @all_feed_items,
              params: { controller: 'static_pages', action: 'home' } %>
  </div>
</div>
