<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <div class='center'>
    <%= paginate @feed_items,
               params: { controller: 'static_pages', action: 'home' } %>
  </div>

<% else %>
  <h3>All Users Feed</h3>
  <ol class="microposts">
    <%= render @feedall %>
  </ol>
  <div class='center'>
    <%= paginate @feedall,
                params: { controller: 'static_pages', action: 'home' } %>
  </div>
<% end %>