<% if @feed_items.any? %>
  <h3>Micropost Feed</h3>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= paginate @feed_items,
               params: { controller: 'static_pages', action: 'home' } %>
<% else %>
  <h3>All Users Feed</h3>
  <ol class="microposts">
    <%= render @feedall %>
  </ol>
  <%= paginate @feedall,
               params: { controller: 'static_pages', action: 'home' } %>
<% end %>