<% case @selected_school_type %>
<% when "小学校"     then category = "primary_subject" %>
<% when "中学校"     then category = "secondary_subject" %>
<% when "高校(共通)" then category = "senior_common_subject" %>
<% when "高校(専門)" then category = "senior_specialized_subject" %>
<% else                   category = "" %>
<% end %>

<% unless category == "" %>
  $("#micropost_subject").html("<%= escape_javascript(options_for_select(Tag.where("category LIKE ?", "%#{category}%").pluck(:name))) %>");
  $("#micropost_subject").prepend('<option value="">教科タグ</option>');
<% else %>
  $("#micropost_subject").html('<option value="">---</option>');
<% end %>
$("#micropost_subject").val("");