<% provide(:title, @title) %>

<h1><%= @title %></h1>

<div class="tag-search-container">
  <%= render partial: 'microposts/tag_search_form', locals: { micropost: @micropost, selected_tags: @selected_tags, tags: @tags } %>
</div>

<ol class="microposts">
  <%= render @feedall %>
</ol>

<div class='center'><%= paginate @feedall %></div>