@import "bootstrap-sprockets";
@import "bootstrap";
@import "flat-ui";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 374px) {
  /* 374px以下に適用されるCSS（スマホ用） */
  .keyword_search_form {
    input.form-control {
      width: 80px !important;
    }
  }
}

@media (max-width: 1023px) {
  .navbar-toggle {
    display: block;
  }
}

@media (min-width: 1024px) {
  .navbar-toggle {
    display: none !important;
  }
}

/* サイドバーの表示・非表示 */
@media screen and (max-width: 705px) {
  .wrapper {
    grid-template-columns: 0 1fr !important; /* 1列目の幅を0に設定 */
    gap: 0 !important; /* 1列目と2列目の間隔を0に設定 */
  }
}

/* 大きめのコンテナ */
.container-large {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 500px) {
  .container-large {
      padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .container-large {
      width: 970px;
  }
}
@media (min-width: 992px) {
  .container-large {
      width: 1170px;
  }
}

/* figcaptureの表示数を強引にレスポンシブにした */
@media screen and (max-width: 440px) {
  .ogp {
    figcaption {
      -webkit-line-clamp: 2;
    }
  }
}
@media screen and (min-width: 441px) {
  .ogp {
    figcaption {
      -webkit-line-clamp: 3;
    }
  }
}
@media screen and (min-width: 540px) {
  .ogp {
    figcaption {
      -webkit-line-clamp: 4;
    }
  }
}
@media screen and (min-width: 653px) {
  .ogp {
    figcaption {
      -webkit-line-clamp: 5;
    }
  }
}
@media screen and (min-width: 706px) {
  .ogp {
    figcaption {
      -webkit-line-clamp: 3;
    }
  }
}
@media screen and (min-width: 840px) {
  .ogp {
    figcaption {
      -webkit-line-clamp: 4;
    }
  }
}
@media screen and (min-width: 948px) {
  .ogp {
    figcaption {
      -webkit-line-clamp: 5;
    }
  }
}
@media screen and (min-width: 1050px) {
  .ogp {
    figcaption {
      -webkit-line-clamp: 6;
    }
  }
}

@media screen and (min-width: 706px) {
  .container-fluid {
    .ogp {
      figcaption {
        -webkit-line-clamp: 3;
      }
    } 
  }
}
@media screen and (min-width: 820px) {
  .container-fluid {
    .ogp {
      figcaption {
        -webkit-line-clamp: 4;
      }
    } 
  }
}
@media screen and (min-width: 940px) {
  .container-fluid {
    .ogp {
      figcaption {
        -webkit-line-clamp: 5;
      }
    } 
  }
}
@media screen and (min-width: 1010px) {
  .container-fluid {
    .ogp {
      figcaption {
        -webkit-line-clamp: 2;
      }
    } 
  }
}
@media screen and (min-width: 1110px) {
  .container-fluid {
    .ogp {
      figcaption {
        -webkit-line-clamp: 3;
      }
    } 
  }
}
@media screen and (min-width: 1320px) {
  .container-fluid {
    .ogp {
      figcaption {
        -webkit-line-clamp: 4;
      }
    } 
  }
}
@media screen and (min-width: 1356px) {
  .container-fluid {
    .ogp {
      figcaption {
        -webkit-line-clamp: 2;
      }
    } 
  }
}

@media screen and (max-width: 370px) {
  .material-card {
    .response-form {
      font-size: 1rem !important;
    }
  }
}

/* universal */

html {
  font-size: 16px;
}

body {
  padding-top: 60px;
  font-size: 16px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  height: 58px;
  border: 2px solid #dce4ec;
}

.center {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-gap: 24px;
}

/* typography */

h1 {
  font-size: clamp(32px, 3.8vw, 3rem);
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h3,
.post-title {
  font-size: 1.1rem;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

p {
  font-size: 1.1rem;
  line-height: 1.3rem;
}

a {
  font-size: 1em;
  text-decoration: none;
  color: #16a085;
  &:hover {
    text-decoration: underline;
    color: #8ec5bd;
  }
}

.btn {
  background: none;
}
.btn:hover {
  background: none;
}

.btn[disabled] {
  background: none;
}

.btn-primary {
  font-size: 24px;
}

.btn-default {
  background-color: #7f8c8d;
  &:hover {
    color: #95a5a6;
  }
}

.btn-tag {
  color: #fafafa;
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 100vh;
  padding: 4px 10px !important;
  text-decoration: none !important;
  font-size: 14px;
  &:hover,
  &:focus {
    color: #fff;
    opacity: 0.5;
  }
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 8px;
}

.back_link {
  float: right;
  font-size: 16px;
  margin-right: 20px;
}

.pagination > .active > a {
  background: #1abc9c;
  border: 1px solid #1abc9c;
}
.pagination > .active > a:hover {
  background: #47c8b0;
  border: 1px solid #47c8b0;
}

.fa-xmark {
  color: #7f8c8d;
  &:hover {
    color: #95a5a6;
  }
}

.fa-book,
.fa-lock {
  color: #7f8c8d;
}

.fa-pen-to-square,
.fa-trash-can {
  color: #3498db;
  &:hover {
    color: #5cb4ee;
  }
}

.error_explanation {
  li {
    padding: 0 !important;
  }
}

.bootstrap-tagsinput {
  span {
    font-size: 0.85rem;
  }
}

.block-right {
  display: block;
  text-align: right;
}

// 検索窓
.input-group {
  display: inline-table;
  border: 2px solid #dce4ec;
  border-radius: 6px;
  background-color: white;
  .input-group-btn {
    width: auto;
  }
  input.form-control {
    margin: 0;
    border: none;
    background-color: none;
  }
  .btn-search,
  .btn-send {
    background-color: white;
    border: none;
    color: #acb6c0;
    font-size: 14px;
  }
  .btn-send {
    color: white;
    background-color: transparent;
    height: 58px;
    font-size: 16px;
  }
}

span.user a {
  color: #34495e;
  font-size: 1.2rem;
  font-weight: bold;
}

/* header */

header {
  height: 51px;
  .navbar-header {
    display: flex;
    align-items: center;
    column-gap: 16px;
    #service_logo {
      height: 50px;
      flex-shrink: 0;
    }
    .keyword_search_form {
      #micropost_search {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        padding: 0;
        border: none;
        .input-group {
          input.form-control {
            max-width: 104px;
          }
        }
      }
    }
  }
}

#navbar {
  margin: 3.5px 4px;
  a {
    text-decoration: none;
    padding: 12px 10px;
  }
  li.dropdown.open {
    ul.dropdown-menu {
      width: 80px;
      padding: 0;
      margin-left: 12px;
      background-color: #f8f8f8;
      color: #777777;
      li {
        padding: 0px;
        background-color: #f8f8f8;
        color: #777777;
        a {
          font-size: 18px;
          color: #777777;
        }
        a:hover {
          color: white;
          background-color: #1abc9c;
        }
      }
    }
    ul.dropdown-menu::before {
      display: none;
    }
  }
}

.navbar-toggle {
  border: none;
  margin-right: 4px;
  padding: 10px;
}

.icon-container {
  display: block;
  float: right;
  padding-top: 15px;
  span {
    width: 1.5rem;
    text-align: right;
  }
  .bell-icon {
    color: #7f8c8d;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
  }
  .bell-icon:hover {
    color: #1abc9c;
  }
  .notification-icon {
    font-size: 0.8rem;
  }
  .n-circle {
    position: absolute;
    left: 10px;
    top: -30px;
    padding-left: 5px;
    color: orange;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  background-color: white;
  a {
    color: $gray;
    text-decoration: none;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  nav {
    ul {
      padding-left: 0px;
      line-height: 28px;
      a {
        font-weight: normal;
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  width: 100%;
  min-height: 100%; // heightは100%だと画面の高さになるので、min-heightを指定
  overflow-y: scroll;
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
  .sidebar {
    margin: 16px 0 16px;
    padding: 16px 8px 0 8px;
    background-color: #f8f8f8;
    border-radius: 16px;

    // section.user-info {
    //   margin-top: 0px;
    //   h1 {
    //     margin-top: 4px;
    //   }
    //   span {
    //     display: block;
    //     margin-bottom: 3px;
    //     line-height: 1;
    //   }
    // }
    // section {
    //   margin-top: 20px;
    //   &:first-child {
    //     border: 0;
    //     padding-top: 0;
    //   }
    //   h1 {
    //     font-size: 2rem;
    //     text-align: left;
    //     letter-spacing: -1px;
    //     margin-bottom: 3px;
    //     margin-top: 0px;
    //   }
    // }
    .side_menu {
      margin: 0;
      padding-bottom: 0;
    }
    hr {
      border: 0;
      height: 2px;
      background: gray;
      background-image: -webkit-linear-gradient(left, #ccc, gray, #ccc);
      background-image: -moz-linear-gradient(left, #ccc, gray, #ccc);
      background-image: -ms-linear-gradient(left, #ccc, gray, #ccc);
      background-image: -o-linear-gradient(left, #ccc, gray, #ccc);
      margin: 10px 0 0;
    }
    .response-form {
      margin: 0 16px;
      justify-content: center;
      gap: 24px;
    }
    .text-content {
      position: relative;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 12px;
      .title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 4px;
      }
      p {
        font-size: 1rem;
        margin-bottom: 4px;
      }
    }
  }
}

.profile-icon-frame {
  position: relative;
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.profile-icon-edit {
  display: flex;
  gap: 16px;
  height: 80px;
  margin: 15px 0;
  .profile-icon-frame {
    width: 80px;
    height: 80px;
    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
  .image {
    line-height: 80px;
    margin: 0;
    padding: 0;
  }
  a {
    line-height: 80px;
  }
}

.user-info {
  display: flex;
  gap: 16px;
  align-items: center;  
  .user-text-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .username {
      display: flex;
      align-items: center;
      gap: 16px;
      h3 {
        margin: 0;
        a {
          font-size: 1.2rem;
          line-height: 1.3;
        }
      }
    }
    h2 {
      padding: 0;
      margin: 0;
      line-height: 1.2;
    }
  }
}

.user-info.user-show {
  margin: 24px 0 8px 8px;
  .profile-icon-frame {
    width: 80px;
    height: 80px;
    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
  h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 8px;
  }
}

.user-info.user-follow {
  margin: 24px 0 8px;
  h1 {
    font-size: 2rem;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 8px;
  padding-left: 48px;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.stats.user-follow {
  padding-left: 24px;
  padding-bottom: 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid gray;
  div.stats {
    padding-left: 34px;
  }
}

.user_avatars {
  padding-left: 30px;
  .profile-icon-frame {
    width: 32px;
    height: 32px;
    margin: 1px;
    .gravatar {
      margin: 1px;
      width: 30px;
      height: 30px;
    }
    img {
      margin: 1px;
      width: 30px;
      height: 30px;
    }
  }
  overflow: auto;
  margin-top: 10px;
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 2px solid #dce4ec;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 16px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.check_box {
  margin-bottom: 8px;
  margin-left: 8px;
  input {
    width: auto;
  }
  span {
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.line-checkbox-wrap {
  padding-top: 10px;
  margin-bottom: 18px;
}

#user_line_connection_delete {
  // display: inline;
  width: auto;
  margin: 0 10px;
}

.line-add-button {
  margin-left: 12px;
}

.require-charm {
  color: red;
}

/* login_top */
.welcome_container {
  margin: 0 0 -40px;
  .logo_containter {
    position: relative;
    max-width: 320px;
    padding: 5px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
  }
  .logo_containter::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 10px 5px #eeeeee;
  }
  .btn-login {
    margin: 5px;
  }
  .top_description {
    color: $gray-light;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: none;
    p {
      text-align: left;
      margin: 20px 0px;
      line-height: 1.5rem;
    }
  }
}
.login_containter {
  padding: 0 20px;
  .password-form {
    margin-bottom: 4px;
  }
  .login_checkbox {
    text-align: left;
    margin-left: 8px;
    margin-bottom: 16px;
  }
  .forgot_link {
    text-align: right;
    font-size: 1.2em;
  }
  .easy_login {
    ul {
      padding: 0;
      margin: 20px 0 0;
      list-style: none;
      font-size: 16px;
      li {
        margin: 8px;
      }
    }
  }
  hr {
    border: 0;
    height: 2px;
    background: gray;
    background-image: -webkit-linear-gradient(left, #ccc, gray, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, gray, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, gray, #ccc);
    background-image: -o-linear-gradient(left, #ccc, gray, #ccc);
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 5px;
    span {
      padding-right: 10px;
      font-size: 20px;
      font-weight: bold;
      line-height: 52px;
    }
  }
}

/* Sign up */
.signup_form {
  padding: 0 20px;
  input {
    margin-bottom: 24px;
    &:nth-child(2) {
      margin-top: 30px;
    }
  }
}

/* Users index */

.user_search_form {
  text-align: center;
  input[type="search"] {
    width: 200px;
  }
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: none;
    }
  }
}

.btn-follow {
  display: inline-block;
  width: 100px;
}

.inline-block {
  display: inline-block;
}

.unsubscribe-btn {
  border: none;
  color: #7f8c8d;
  &:hover {
    color: #95a5a6;
  }
}
.subscribe-btn {
  border: none;
  color: orange;
  &:hover {
    color: rgb(255, 201, 100);
  }
}
.subscribe-btn-invalid {
  color: gray;
}
.users_container {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    padding: 0;
  }
}

/* microposts */

.microposts,
.materials {
  list-style: none;
  padding: 0;
  li {
    padding: 16px 0px 12px 16px;
    border-top: 1px solid #e8e8e8;
    &:first-child {
      border-top: none;
    }
  }
  .notification:first-child {
    border-top: none;
  }

  .user {
    display: flex;
    gap: 8px;
    align-items: center;
    .profile-icon-frame {
      flex-basis: 40px;
      flex-shrink: 0;
      width: 40px;
      height: 40px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
    .username_timestamp {
      display: flex;
      flex-direction: column;
      .username {
        font-weight: bolder;
        margin: 4px;
      }
      .timestamp {
        display: flex;
        align-items: center;
        column-gap: 8px;
        color: $gray-light;
        margin-left: 0px;
        .fa-pen-to-square {
          padding: 0;
        }
      }
    }
  }

  .content-info,
  .comment-wrap {
    display: flex;
    gap: 8px;
    .profile-icon-frame {
      flex-basis: 40px;
      flex-shrink: 0;
      width: 40px;
      height: 40px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }

  .material-card .content-info {
    margin-left: 8px;
  }
  
  .content-text-info {
    width: 100%;
  }

  .username {
    margin-bottom: 4px;
    a {
      font-size: 1.1rem;
    }
  }

  .content-stats {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: -12px;
    .timestamp {
      color: $gray-light;
      margin-left: 0px;
    }
  }

  .text-content {
    word-break: break-word;
    margin: 16px;
    font-size: 1.1rem;
  }


  .content-container {
    position: relative;
    .image-content {
      margin-bottom: 10px;
    }
    img {
      width: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
    p {
      margin: 5px 0;
      word-break: break-word;
    }
  }
  .gravatar {
    float: left;
    margin: 0px;
  }
  .links {
    margin: 0px;
    .links-container {
      background-color: #eeeeee80;
      padding: 20px 20px 8px;
      border-radius: 16px;
      .links-wrap {
        display: flex;
        justify-content: center;
        background-size: contain;
        width: 100%;
        aspect-ratio: 4 / 3;
        overflow-y: scroll;
        margin-bottom: 0.5rem;
        figure {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: 100%;
          img {
            aspect-ratio: 16 / 9;
            width: 100%;
            object-fit: contain;
            object-position: 50% 50%;
            padding-bottom: 8px;
          }
        }
        iframe {
          width: 100%;
          height: 100%;
        }
        .pdf-container {
          width: 100%;
          height: 100%;
          iframe {
            width: 100%;
            height: 100%;
          }
        }
        .file-container {
          width: 100%;
          height: 100%;
          iframe {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    figcaption {
      margin-top: 8px;
      font-size: 0.9rem;
      color: gray;
      caption-side: bottom;
    }
  }
  .ogp {
    figure {
      img {
        padding: 0;
      }
      .ogp_title {
        font-weight: bold;
      }
    }
    figcaption {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      // font-size: 1.1rem;
      line-height: 1.2rem;
    }
  }
  .img-container {
    background-color: #eeeeee80;
    padding: 27px 20px;
    border-radius: 16px;
  }
  .btn-tagsedit {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    background-color: rgb(239, 239, 239);
    font-size: inherit;
    padding: 0;
    width: 26.95px;
    height: 26.95px;
    &:hover {
      opacity: 0.6;
    }
  }
  .response-form {
    display: flex;
    align-items: center;
    column-gap: 16px;
    font-size: 1.2rem;
    .icon-group {
      display: flex;
      align-items: center;
    }
    .btn-link {
      margin: 0;
      padding: 0;
      display: inline;
      text-decoration-line: none;
    }
    a {
      display: inline;
    }
  }
  .wrap {
    border-radius: 16px;
    margin-left: auto;
    width: calc(100% - 20px);
    background-color: #eeeeee80;
    p {
      font-size: 1.1rem;
      line-height: 1.3rem;
      margin: 5px;
      word-break: break-word;
    }
  }
  form {
    padding-bottom: 0px;
  }
  textarea {
    margin-bottom: 5px;
  }
  .pagination {
    display: none;
  }
  .response_text_wrap {
    .input-group {
      width: 100%;
      textarea {
        border: none;
        margin: 0;
      }
      .input-group-btn {
        width: 20px;
        background-color: #1abc9c;
        border-radius: 0 4px 4px 0px;
      }
    }
  }
}

.tags-wrap {
  display: flex;
  align-items: center;
  column-gap: 8px;
  row-gap: 4px;
  flex-wrap: wrap;
  margin: 8px -8px 12px 0px;
  a {
    padding-right: 8px;
  }
}

.microposts.content-info {
  margin-bottom: 8px;
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.like-btn {
  margin-right: 4px;
  color: #16a085;
  &:hover {
    color: #8ec5bd;
  }
}

.like-btn-unlike {
  margin-right: 4px;
  color: #7f8c8d;
  &:hover {
    color: #95a5a6;
  }
}

.likes-count {
  color: #7f8c8d;
  a {
    text-decoration-line: none;
  }
}

.porcs {
  .btn-porc {
    color: #16a085;
    &:hover {
      color: #8ec5bd;
    }
  }
  .btn-porc-unporc {
    color: #7f8c8d;
    &:hover {
      color: #95a5a6;
    }
  }
}

.btn-comment,
.btn-reply {
  color: #16a085;
  &:hover {
    color: #8ec5bd;
  }
}

.comment-wrap {
  .field {
    border-top: none;
    padding: 0;
  }
}

.comments-wrap.wrap {
  margin-top: 8px;
  margin-left: -8px;
  width: calc(100% + 8px);
  .comments {
    padding: 20px 20px 0px;
    margin-bottom: 16px;
    .response_text_wrap {
      padding-bottom: 16px;
    }
    li {
      border-top: none;
      border-top: 1px solid #e8e8e8;
      &:first-child {
        padding-top: 0;
        border-top: none;
      }
    }
    .text-content {
      margin: 8px;
    }
  }
}

.replies-container {
  padding-left: 20px;
  margin: 0 0 16px;
  li {
    border-top: none;
    border-bottom: 1px solid #e8e8e8;
    padding: 16px 0px 12px 0px;
    &:first-child {
      padding: 16px 0px 12px 0px !important;
    }
  }
  .mention {
    padding-top: 10px;
  }
}
.reply-close-btn {
  padding-left: 10px;
}
.to-mention {
  a {
    color: $gray-light;
  }
}

.btn-comment-wrap,
.reply-btn-wrap {
  form {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  input {
    margin: 0;
    padding: 0;
    border: none;
  }
}

/* 教材カード（materials） */
.materials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  row-gap: 32px;
  column-gap: 16px;
}
.material-card {
  overflow-wrap: break-word;
  .response-form {
    font-size: 1.2rem;
    gap: 10px;
  }
  .tags-wrap {
    margin-left: 16px;
  }
  .comments-wrap {
    margin-left: -50px;
    width: calc(100% + 50px);
  }
}

/* micropostの編集のためのモーダルウィンドウ */
.edit-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  width: 100%;
  display: block;
  h2 {
    color: white;
  }
  .edit-modal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    background-color: #e6ecf0;
    padding: 0;
    width: 80%;
    min-width: 350px;
    max-width: 600px;
    height: auto;
    border-radius: 16px;
    .edit-modal-form {
      padding: 24px 32px;
      .close-modal {
        cursor: pointer;
        display: block;
        float: right;
        position: absolute;
        top: 8px;
        right: 8px;
      }
      .micropost_form {
        padding: 0;
        .micropost_attr {
          position: relative;
        }
        .tagging-form {
          display: none;
        }
        .attach_form {
          margin-top: 40px;
        }
        form {
          padding: 0;
        }
        #micropost_tags {
          margin: 0;
        }
        .btn-post {
          bottom: 0;
        }
      }
    }
  }
}

/* いいね！した人を表示するモーダルウィンドウ */
.like-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  width: 100%;
  display: block;
  color: white;
  h2 {
    color: white;
  }
  .like-modal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    background-color: #e6ecf0;
    padding: 20px 0;
    width: 350px;
    .users {
      padding: 0 40px 0 20px;
    }
    height: 500px;
    border-radius: 16px;
    overflow-y: auto;
    overflow-y: scroll;
    .close-modal {
      display: block;
      float: right;
      position: sticky;
      top: -10px;
      right: 12px;
    }
  }
}

/* 通知画面 */
.notification {
  position: relative;
  padding: 10px 20px 0;
  border-top: 1px solid #e8e8e8;
  p.notification_info {
    padding: 0 0 10px;
    margin: 0;
  }
}

.notification-nochecked {
  background-color: #ccffff70;
}

.showcontainer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.jscroll {
  li:first-child {
    border-top: 1px solid #e8e8e8;
  }
}
.jscroll-reaction {
  .notification:first-child {
    border-top: 1px solid #e8e8e8;
  }
}

.notification-wrap {
  padding: 0px 20px 10px;
  margin-bottom: 10px;
  margin-left: auto;
  width: calc(100% - 20px);
  background-color: #eeeeee80;
  li {
    padding: 16px 0 0;
  }
  p {
    font-size: 1rem;
    line-height: 1.3rem;
    margin: 5px;
    word-break: break-word;
  }
}

.notification {
  li {
    border-top: none;
  }
}

.line-add {
  position: relative;
  width: 100%;
  a {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* micropost_form */
.micropost_form_container {
  background-color: #ecf0f1;
  box-shadow: 8px 8px 0 0 rgba(26, 188, 156, 0.4);
  padding: 16px;
  margin: 16px auto 24px;
  border-radius: 16px;
  max-width: 800px;
  .micropost_attr {
    position: relative;
  }
}
.micropost_form {
  padding-left: 10px;
  form:first-child {
    #micropost_content {
      margin-bottom: 0px;
    }
    .micropost_opt {
      margin-bottom: 4px;
      .check_box {
        padding-right: 8px;
        margin: 0;
      }
      select {
        margin: 0;
      }
    }
    .btn-post {
      font-size: 20px;
      width: 48px;
      position: absolute;
      right: 0.5px;
      padding: 0;
    }
    .image {
      .btn-image {
        width: 56px;
        padding: 3px 0px;
        margin-right: 4px;
      }
      .image_form {
        display: none;
      }
      p {
        padding: 0;
        margin: 0;
        width: 56px;
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }

  #image_preview {
    position: relative;
    img {
      padding: 8px;
      width: 100%;
    }
    .fa-circle-xmark {
      position: absolute;
      right: 16px;
      top: 16px;
      cursor: pointer;
    }
  }

  /* file_post */
  .file_post {
    position: absolute;
    bottom: 0;
    left: 64px;
    .button_to {
      display: inline-block;
      padding: 0;
    }
    .btn-file {
      width: 80px;
      margin-right: 4px;
      padding: 3px 0px;
    }
    span {
      display: inline-block;
    }
    .file-modal-wrapper {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 100;
      width: 100%;
      display: block;
      color: rgba(0, 0, 0, 0.7);
      .file-modal {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        background-color: #e6ecf0;
        padding: 10px;
        width: 80%;
        min-width: 350px;
        max-width: 600px;
        border-radius: 16px;
        .close-modal {
          display: block;
          float: right;
          padding-right: 4px;
        }
        #micropost_file_link {
          margin-bottom: 4px;
        }
        select {
          width: auto;
          margin-top: 8px;
          margin-bottom: 4px;
        }
        input {
          display: inline-block;
          width: auto;
        }
        .method_link_container {
          width: 280px;
          a {
            display: block;
            padding-bottom: 4px;
          }
        }
        .btn-ok {
          display: block;
          float: right;
          font-size: 16px;
        }
        .error_messages_easy {
          color: red;
          list-style: none;
          li {
            padding: 0 !important;
          }
        }
      }
    }
  }
}

/* micropostのshow画面 */
.show {
  padding: 16px 0px;
  max-width: 720px;
  margin: 0 auto;
  .content-info {
    .post-title {
      font-weight: bold;
    }
  }
  .text-content {
    word-break: break-word;
    margin: 16px;
    margin-left: 24px;
    font-size: 1.1rem;
  }
}

/* tagging form */
.tagging-form {
  select {
    width: auto;
    display: inline-block;
    margin-bottom: 0;
  }
  .bootstrap-tagsinput {
    width: 100%;
    box-shadow: none;
    line-height: 170%;
  }
  .check_box {
    margin: 8px 8px 0 0;
  }
  .tag_search_wrap {
    .input-group {
      width: 100%;
      .bootstrap-tagsinput {
        border: none;
      }
      .input-group-btn {
        width: 37px;
      }
    }
  }
  margin-bottom: 4px;
}
.tags_edit {
  form {
    padding: 0;
  }
}

/* ユーザープロフィール画面 */
section.profile {
  background-color: #eeeeee80;
  padding: 8px;
  margin: 8px;
  border-radius: 16px;
  ul {
    padding: 0 0 0 8px;
    margin: 0;
    list-style: none;
    li {
      font-size: 1.1rem;
      margin: 4px 0;
      p {
        color: #666;
        margin-left: 8px;
        padding: 4px;
        font-size: 1rem;
      }
      .inline-block {
        padding: 0;
        margin: 0;
      }
    }
    .profile_description {
      padding-top: 8px;
    }
  }
}

/* ユーザー編集画面 */
p#edit_user_page {
  clear: both;
  padding-top: 40px;
}

/* ユーザー削除画面 */
p#delete_user_page {
  padding-bottom: 24px;
}

/* help ページ */
.helptop_concainer {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    padding: 8px 0;
    font-size: 18px;
  }
}
.method_container {
  .help_description {
    margin: 0 20px;
    padding: 10px;
    border: 1px solid #f39c12;
    border-radius: 16px;
  }
  li {
    padding-top: 40px;
  }
}

/* links (wiki) ページ */
.toastui-editor-contents {
  font-family: inherit !important;
}
.links_edit_buttons_container {
  a {
    display: block;
    text-align: right;
    margin: 8px 32px 8px 0;
  }
  .button_wrapper {
    text-align: center;
  }
  .btn-save {
    margin-top: 8px;
    font-size: 20px;
    width: 90%;
  }
}
