@import "bootstrap-sprockets";
@import "bootstrap";
@import "flat-ui";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@media screen and (max-width:374px) {
	/* 374px以下に適用されるCSS（スマホ用） */
  .keyword_search_form {
    input.form-control { width: 80px !important; }
  }
}

@media (max-width: 1023px) {
  .navbar-toggle {
      display: block;
  }
}

@media (min-width: 1024px) {
  .navbar-toggle {
      display: none !important;
  }
}


/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  height: 58px;
  border: 2px solid #DCE4EC;
}

.center {
  text-align: center;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1em;
}

h1 {
  font-size: clamp(32px, 3.8vw, 3em);
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.3em;
}

a {
  text-decoration: none;
  color: #3498DB;
  &:hover {
    text-decoration: underline;
    color: #2980B9
  }
}


.btn { 
  background: none;
}
.btn:hover { background: none; }

.btn[disabled] { background: none; }

.btn-primary {
  font-size: 24px;
}

.btn-default {
  background-color: #95A5A6;
  &:hover {
    background-color: #7F8C8D;
  }
}

input[type='checkbox'] {
  transform: scale(1.5);
  margin-right: 8px;
}

.back_link {
  float: right;
  font-size: 16px;
  margin-right: 20px;
}

.pagination>.active>a {     
  background: #1ABC9C;
  border: 1px solid #1ABC9C;
}
.pagination>.active>a:hover {     
  background: #47C8B0;
  border: 1px solid #47C8B0;
}

.fa-xmark {
  color:#7F8C8D ;
}

.bootstrap-tagsinput {
  span { 
    font-size: 0.85em;
  }
}

.block-right {
  display: block;
  text-align: right;
}

// 検索窓
.input-group {
  display: inline-table;
  border: 2px solid #DCE4EC;
  border-radius: 8px;
  background-color: white;
  .input-group-btn {
    width: auto;
  }
  input.form-control { 
    margin: 0;
    border: none;
    background-color: none;
  }
  .btn-search, .btn-send {
    background-color: white;
    border: none;
    color: #ACB6C0;
    font-size: 14px;
  }
  .btn-send {
    color: white;
    background-color: transparent;
    height: 58px;
    font-size: 16px;
  }
}

span.user a {
  color: #34495E;
  font-size: 1.2em;
  font-weight: bold;
}


/* header */
header {
  .container {
    position: relative;
    #service_logo { 
      position: absolute;
      top: 0;
      left: 0;
    }
    .keyword_search_form {
      #micropost_search {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        padding: 0;
        margin: 0 0 0 140px;
        border: none;
        .input-group {
          input.form-control { 
            width: 104px;
          }
        }
      }
    }
  }
}

#navbar {
  margin: 3.5px 4px;
  a { 
    text-decoration: none;
    padding: 12px;
  }
  li.dropdown.open {
    ul.dropdown-menu {
      width: 80px;
      padding: 0;
      margin-left: 12px;
      background-color: #F8F8F8;
      color: #777777;
      li {
        padding: 0px;
        background-color: #F8F8F8;
        color: #777777;
        a {
          font-size: 18px;
          color: #777777; 
        }
        a:hover { 
          color: white;
          background-color: #1ABC9C;
        }
      }
    }
    ul.dropdown-menu::before {
      display: none;
    }
  }
}

.navbar-toggle {
  border: none;
  margin-right: 4px;
  padding: 10px;
}

.icon-container {
  display: block;
  float: right;
  padding-top: 15px;
  span {
    width: 1.5em;
    text-align: right;
  }
  .bell-icon {
    color: #7F8C8D;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
  }
  .bell-icon:hover {
    color: #1ABC9C;
  }
  .notification-icon {
    font-size: 0.8em;
  }
  .n-circle {
    position: absolute;
    left: 10px;
    top: -30px;
    padding-left: 5px;
    color: orange;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  background-color: white;
  a {
    color: $gray;
    text-decoration: none;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  nav {
    ul {
      padding-left: 0px;
      line-height: 28px;
      a { font-weight: normal; }
    }
  }
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    h1 { margin-top: 4px; }
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 2rem;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.sidebar {
  margin-top: 16px;
  margin-right: 16px;
  background-color: #f8f8f8;
  border-radius: 16px;
  .side_menu {
    margin: 0;
    a {
      font-size: 16px;
      color: #16A085;
    }
  }
  hr {
    border: 0;
    height: 2px;
    background: gray;
    background-image: -webkit-linear-gradient(left, #ccc, gray, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, gray, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, gray, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, gray, #ccc);
    margin: 10px 0 0;
  }
}

.profile_icon_frame {
  position: relative;
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.profile_icon_edit {
  height: 80px;
  margin: 15px 0;
  .profile_icon_frame {
    width: 80px;
    height: 80px;
    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
  .image { 
    line-height: 80px;
    margin: 0;
    padding: 0;
  }
  a { line-height: 80px; }
}

.user_info.user_show {
  margin: 24px 0 8px;
  .profile_icon_frame {
    width: 80px;
    height: 80px;
    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
  h1 {
    font-size: 2rem;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 8px;
  }
}

.user_info.user_follow {
  margin: 24px 0 8px;
  h1 {
    font-size: 2rem;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 8px;
  padding-left: 48px;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.stats.user_follow {
  padding-left: 24px;
  padding-bottom: 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid gray;
  div.stats {
    padding-left: 34px;
  }
}


.user_avatars {
  padding-left: 30px;
  .profile_icon_frame {
    width: 32px;
    height: 32px;
    margin: 1px;
    .gravatar {
      margin: 1px;
      width: 30px;
      height: 30px;
    }
    img {
      margin: 1px;
      width: 30px;
      height: 30px;
    }
  }
  overflow: auto;
  margin-top: 10px;
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 2px solid #DCE4EC;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 16px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.check_box {
  margin-bottom: 8px;
  margin-left: 8px;
  input { width:auto; }
  span {
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.line-checkbox-wrap {
  padding-top: 10px;
  margin-bottom: 18px;
}

#user_line_connection_delete {
  // display: inline;
  width: auto;
  margin: 0 10px;
}

.line-add-button {
  margin-left: 12px;
}

.require-charm {
  color: red;
}



/* login_top */
.welcome_container {
  margin: 0 0 -40px;
  .logo_containter {
    position: relative;
    max-width: 320px;
    padding: 5px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
  }
  .logo_containter::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 10px 5px #EEEEEE;
  }
  .btn-login {
    margin: 5px;
  }
  .top_description {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: none;
    h2 { 
      text-align: left;
      margin: 20px 0px;
      line-height: 1.5em;
    }
  }
}
.login_containter {
  padding: 0 20px;
  .password-form { margin-bottom: 4px; }
  .login_checkbox { 
    text-align: left;
    margin-left: 8px;
    margin-bottom: 16px;
  }
  .forgot_link {
    text-align: right;
    font-size: 1.2em;
  }
  .easy_login {
    ul { 
      padding: 0;
      margin: 20px 0 0;
      list-style: none;
      font-size: 16px;
      li { margin: 8px; }
     }
  }
  hr {
    border: 0;
    height: 2px;
    background: gray;
    background-image: -webkit-linear-gradient(left, #ccc, gray, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, gray, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, gray, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, gray, #ccc);
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 5px; 
    span { 
      padding-right: 10px;
      font-size: 20px;
      font-weight: bold;
      line-height: 52px;
    }
  }
}


/* Sign up */
.signup_form {
  padding: 0 20px;
  input { 
    margin-bottom: 24px;
    &:nth-child(2) { margin-top: 30px; }
  }
}


/* Users index */

.user_search_form {
  text-align: center;
  input[type="search"] { width: 200px; }
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.follow_form {
  padding-top: 5px;
}

.btn-follow {
  display: inline-block;
  width: 100px;
}

.inline-block {
  display: inline-block;
}

.unsubscribe-btn {
  display: inline-block;
  color: #777777;
}
.unsubscribe-btn:hover {
  color: #777777;
}
.subscribe-btn {
  color: orange;
}
.subscribe-btn:hover {
  color: orange;
}
.subscribe-btn-invalid {
  color: gray;
}
.users_container {
  display: flex;
	justify-content: center;
	align-items: center;
  ul { padding: 0; }
}



/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 16px 0 0;
    border-top: 1px solid #e8e8e8;
  }
  li:first-child {
    border-top: none;
  }
  .notification:first-child {
    border-top: none;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .tag-container {
    margin: 0 0 4px 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .content-container{
    position: relative;
    .content {
      display: block;
      padding: 5px 0px;
      margin-left: 60px;
      img {
        display: block;
        padding: 5px 0;
        max-width: 400px;
        max-height: 400px;
        width: 100%;
        object-fit: contain;
        object-position: left 0% top 0%;
      }
      p {
        margin: 5px;
        word-break: break-word;
      }
    }
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .links {
    margin: 10px 0px;
    .links-container {
      background-color: #eeeeee80;
      background-size: contain;
      display: inline-block;
      padding: 20px 20px 15px;
      width: 400px;
      max-width: 100%;
      figure {
        padding-bottom: 10px;
        display: table;
        img {
          padding: 0;
          margin: 0;
          max-width: 400px;
          max-height: 400px;
          width: 100%;
        }
        figcaption {
          font-size: 0.9em;
          color: gray;
          caption-side: bottom;
          display: table-caption;
        }
      }
      .oembed {
        width: 100%;
        max-width: 400px;
        iframe {
          width: 100%;
        }
      }
      .ogp_title { font-weight:bold; }
      .pdf-container {
        width: 100%;
        max-width: 400px;
        iframe {
          width: 100%;
          min-height: 250px;
        }
      }
      .slide-container {
        width: 100%;
        max-width: 400px;
        iframe {
          width: 100%;
          height: 250px;
        }
      }
    }
  }
  .response-form {
    margin-top: 4px;
    margin-left: 60px;
    .form-inline {
      display: inline;
    }
    .btn-link {
      margin: 0;
      padding: 0;
      display: inline;
    }
    a {
      display: inline;
    }
    .btn-tagsedit {
      color: #777777;
      background-color: rgb(239, 239, 239);
      font-size: inherit;
      padding: 3px 8px;
      &:hover {
        color: white;
      }
    }
  }
  .wrap {
    margin-left: auto;
    width: calc(100% - 20px);
    background-color: #eeeeee80;
    p {
      font-size: 1em;
      line-height: 1.3em;
      margin: 5px;
      word-break: break-word;
    }
  }
  form {
    padding-bottom: 15px;
  }
  textarea {
    margin-bottom: 5px;
  }
  .pagination {
    display: none;
  }
  .response_text_wrap {
    .input-group {
      width: 100%;
      textarea { 
        border: none;
        margin: 0;
      }
      .input-group-btn {
        width: 20px;
        background-color: #1abc9c;
        border-radius: 0 6px 6px 0px;
      }

    }
  }
}
.tag-container {
  margin: 4px 0 0 8px;
  a {
    text-decoration: underline;
    padding-right: 8px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.like-btn {
  color: #1ABC9C;
}

.like-btn-unlike {
  color: #95A5A6;
}

.likes-count {
  padding-right: 5px;
}

.porcs {
  margin-left: 8px;
  .btn-porc {
    color: #1ABC9C;
  }
  .btn-porc-unporc {
    color: #95A5A6;
  }
}

.comment-container{
  .field {
    border-top: none;
    padding: 0;
  }
}

.comments-container {
  padding: 20px 20px 5px;
  margin: 0 0 16px;
  li:first-child { padding: 0 0 8px; }
  li { padding: 16px 0 8px; }
}

.replies-container {
  padding: 16px 20px 0px;
  margin: 4px 0 0;
  li {
    border-top: none;
    border-bottom: 1px solid #e8e8e8;
  }
  .mention {
    padding-top: 10px;
  }
}
.reply-close-btn {
  padding-left: 10px;
}
.to-mention {
  a {
    color: $gray-light;
  }
}

.comment-btn-wrap, .reply-btn-wrap {
  padding-left: 10px;
  form {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  input {
    margin: 0;
    padding: 0;
    border: none;
  }
}


/* いいね！した人を表示するモーダルウィンドウ */
.like-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  width: 100%;
  display: block;
  color: white;
  h2 {
    color: white;
  }
  .like-modal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    background-color: #e6ecf0;
    padding: 20px 0;
    width: 350px;
    .users {
      padding: 0 40px;
    }
    height: 500px;
    border-radius: 4px;
    overflow-y: auto;
    overflow-y: scroll;
    .close-modal {
      display: block;
      float: right;
      position: sticky;
      top:  -10px;
      right: 12px;
    }
  }
}


/* 通知画面 */
.notification {
  position: relative;
  padding: 10px 20px;
  border-top: 1px solid #e8e8e8;
  p.notification_info {
    padding: 0 0 10px;
    margin: 0;
  }
}

.notification-nochecked {
  background-color: #CCFFFF70;
}

.showcontainer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.notification-wrap {
  padding: 0px 20px;
  margin-top: 10px;
  margin-left: auto;
  width: calc(100% - 20px);
  background-color: #eeeeee80;
  li {
    padding: 16px 0 0;
  }
  p {
    font-size: 1em;
    line-height: 1.3em;
    margin: 5px;
    word-break:break-word;
  }
}

.notification {
  li {
    border-top: none;
  }
}

.line-add {
  position: relative;
  width: 100%;
  a {
    position: absolute;
    right: 0;
    top: 0;
  }
}


/* micropost_form */
.micropost_form_container {
  position: relative;
  background-color: #ECF0F1;
  box-shadow: 8px 8px 0px 0 rgba(26, 188, 156, 0.4);
  padding: 16px 16px 8px;
  margin-top: 16px;
  margin-bottom: 24px;
  border-radius: 8px;
  .micropost_form {
    form:first-child {
      #micropost_content {
        margin-bottom: 0px;
      }
      .micropost_attr {
        margin-bottom: 4px;
        .check_box {
          padding-right: 16px;
          margin: 0;
        }
        select {
          margin: 0;
        }
      }
      .btn-post {
        width: 80px;
        position: absolute;
        right: 14px;
        bottom: 8px;
      }
      .image {
        .btn-image {
          width: 56px;
          padding: 3px 0px;
          margin-right: 4px;
        }
        .image_form {
          display: none;
        }
        p {
          padding: 0;
          margin: 0;
          width: 56px;
          font-size: 1.2rem;
          text-align: center;
        }
      }
    }
  
    /* slide_post */
    .slide_post {
      position: absolute;
      bottom: 24px;
      left: 140px;
      .button_to {
        display: inline-block;
        padding: 0;
      }
      .btn-slide {
        width: 80px;
        margin-right: 4px;
        padding: 3px 0px;
        // font-size: 14px;
        // background-color: #EEEEEE;
        // color: black;
        // border: 1px solid #777777;
        // border-radius: 3px;
      }
      span {
        display: inline-block;
      }
      .slide-modal-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        width: 100%;
        display: block;
        color: rgba(0, 0, 0, 0.7);
        .slide-modal {
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          background-color: #e6ecf0;
          padding: 10px;
          width: 350px;
          // height: 200px;
          border-radius: 4px;
          .close-modal {
            display: block;
            float: right;
            padding-right: 4px;
          }
          #micropost_file_link {
            margin-bottom: 4px;
          }
          input {
            display: inline-block;
            width: auto;
          }
          label {
            padding-right: 10px;
          }
          .method_link_container {
            width: 280px;
            a {
              display: block; 
              padding-bottom: 4px;
            }
          }
          .btn-ok {
            display: block;
            float: right;
            font-size: 16px;
          }
          .error_messages_easy {
            color: red;
            list-style: none;
          }
        }
      }
    }
  }
}


/* micropostのshow画面 */
.show {
  li {
    border-top: 0;
  }
}


/* tagging form */
.tagging-form {
  select {
    width: auto;
    display: inline-block;
    margin-bottom: 0;
  }
  .bootstrap-tagsinput {
    width: 100%;
    box-shadow: none;
    line-height: 170%;
  }
  .check_box {
    margin: 8px 8px 0 0;
  }
  .tag_search_wrap {
    .input-group {
      width: 100%;
      .bootstrap-tagsinput { border: none; }
      .input-group-btn {
        width: 37px;
      }
    }
  }
  margin-bottom: 8px;
}
.tags_edit {
  form { padding: 0; }
}


/* ユーザープロフィール画面 */
section.profile {
  background-color: #eeeeee80;
  padding: 8px;
  margin: 8px;
  border-radius: 6px;
  ul {
    padding: 0 0 0 8px;
    margin: 0;
    list-style:none;
    li {
      margin: 4px 0;
      font-size: 1.6rem;
      p {
        font-size: 1.4rem;
        color: #666;
        margin-left: 8px;
        padding: 4px;
      }
      .inline-block {
        padding: 0;
        margin: 0;
      }
    }
    .profile_description {
      padding-top: 8px;
    }
  }
} 


/* ユーザー編集画面 */
p#edit_user_page {
  clear: both;
  padding-top: 40px;
} 



/* ユーザー削除画面 */
p#delete_user_page {
padding-bottom: 24px;
} 



/* help ページ */
.helptop_concainer {
  display: flex;
	justify-content: center;
	align-items: center;
  li {
    padding: 8px 0;
    font-size: 18px;
  }
}
.method_container {
  .help_description {
    margin: 0 20px;
    padding: 10px;
    border: 1px solid #F39C12;
    border-radius: 8px;
  }
  li {
    padding-top: 40px;
    img {
      max-width: 600px;
      width: 100%;
    }
  }
}


/* links (wiki) ページ */
.links_edit_buttons_container {
  a {
    display: block;
    text-align: right;
    margin: 8px 32px 8px 0;
  }
  .button_wrapper {
    text-align: center;
  }
  .btn-save {
    margin-top: 8px;
    font-size: 20px;
    width: 90%;
  }
}