<aside>
  <div class="sidebar">
    <div style="text-align: center; font-weight: bold;">
      <a href="#">TIMELINE</a>
    </div>
    <hr>
    <section class="side_menu">
      <ol class="microposts jscroll">
        <%= render partial: 'microposts/micropost_side', collection: @time_line_items, as: 'micropost' %>
        <div class='center'><%= paginate @time_line_items %></div>
      </ol>
    </section>
  <div>
</aside>